<div class="post">
  <div class="post-author">
    <div class="avatar avatar-<%= rand(1..10) %>"></div>
    <div><%= post.user.username %></div>
  </div>
  <div class="post-body">
    <span><%= post.body %></span>
  </div>
  <div class="post-actions">
    <%= turbo_frame_tag "post-#{post.id}-likes" do %>
      <% if current_user.likes.pluck(:likeable_id).include?(post.id) %>
        <%= button_to '', likes_path(likeable_type: post.class, likeable_id: post.id),
                      class: 'post-actions-unlike', method: :delete %>
      <% else %>
        <%= button_to '', likes_path(likeable_type: post.class, likeable_id: post.id),
                      class: 'post-actions-like' %>
      <% end %>
    <% end %>
    <div class="post-actions-comments">
      <%= turbo_frame_tag "post-#{post.id}-comments-count" do %>
        <%= pluralize(post.comments.size, "comment") %>
      <% end %>
    </div>
  </div>
  <div id="comment-form-<%= post.id %>"><%= render 'comments/form', post: post %></div>
  <div class="post-comments">
    <%= render 'comments/list', post: post %>
  </div>
</div>
